@use './variables';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: space-evenly;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #e6e6e6;
}

#root {
  display: flex;
  place-items: center;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: stretch;
  min-height: 100vh;
}

.container {
  width: 100%;
}

.inner{
  padding: 0em 1em;
  max-width: 52rem;
  margin: auto;
}

.main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type="text"] {
  border-radius: variables.$form-element-border-radius;
  padding: variables.$form-element-padding;
  border: solid 1px variables.$form-border-color;
  color: variables.$form-input-text-color;
  outline: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

  &::placeholder{
    color: inherit
  }

  &:focus{

  }
}

button, input[type="button"], input[type="submit"], input[type="reset"]{
  border-radius: variables.$form-element-border-radius;;
  padding: variables.$form-element-padding;
  border: solid 1px variables.$form-border-color;
  background: variables.$form-button-bg-color;
  color: variables.$form-button-text-color;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  transition: all ease-out 200ms;

  &:hover, &:focus{
    background-color: variables.$form-button-bg-color-active;
  }
}

.ingredients-section{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.ingredient-list{
  ul{
    list-style-type: none;
  }

}



@media (prefers-color-scheme: light) {

}

