@use './variables';

.recipes-section{
  margin: 1rem 0rem;
}

.recipe{
  background-color: variables.$recipe-background-color;
  color: variables.$recipe-text-color;
  padding: 1rem;
  border-radius: variables.$form-element-border-radius;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-items: center;
  justify-content: space-between;

  .image-section{
    flex-grow: 0;
    img{
      max-width: 200px;
      border: solid 1px #fff;
    }
  }

  .info-section{
    flex-grow: 1;
  }

  &:last-of-type{
    margin-bottom: 0rem;
  }
}
